@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Titillium Web', sans-serif;
  background-image: url(../assets/img/bg.png);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  list-style-type: none;
}

/* CONTAINER */
.container {
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  width: 100%;
  position: relative;
  padding-bottom: 170px;
}

.header .container-header {
  width: 100%;
  max-width: 1120px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.header .container-header nav ul {
  display: flex;
  background: #f4b49640;
  align-items: center;
  padding: 7px 20px 7px 20px;
  border-radius: 50px;
  justify-content: center;
}

.header .container-header nav ul li {
  margin-right: 20px;
  margin-left: 20px;
}

.header .container-header nav ul li a:hover {
  transition: 0.3s ease-out;
  color: #13172c;
  font-weight: 600;
}

.header .logo {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .logo h2 {
  color: white;
  font-weight: 600;
}

/* MAIN */
.main {
  width: 100%;
}

.main .info {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
  justify-items: center;
  transition: 0.5s ease;
}

.main .info .card {
  width: 320px;
  height: 340px;
  padding: 14px;
  background: #13172c;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px 35px rgba(255, 255, 255, 0.5);
  border-radius: 14px;
}

.main .info .card .title {
  text-align: center;
  color: white;
  font-size: 24px;
}

.main .info .card .content {
  align-self: center;
  justify-self: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.main .info .card .content .icon {
  margin-bottom: 14px;
}

.main .info .card .content .icon img {
  width: 40px;
  fill: blue;
}

.main .info .card .content .icon svg:hover {
  transition: 0.4s ease-out;
  transform: scale(1.05);
  filter: contrast(140%);
}

.main .info .card .content .icon svg:hover path {
  fill: #c9505e;
  transition: 0.4s ease-out;
}

.main .info .card .content img {
  width: 30px;
}

.main .info .card .content .ct {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.main .info .card .content .ct .progress {
  width: 200px;
  background-color: #90909041;
  height: 14px;
  border-radius: 50px;
  margin-left: 14px;
}

.main .info .card .content .ct .progress::after {
  background: #67e6cf;
  content: '';
  height: 14px;
  border-radius: 50px;
  position: absolute;
}

.main .info .card .content .ct .progress.css::after {
  width: 180px;
}

.main .info .card .content .ct .progress.js::after {
  width: 165px;
}

.main .info .card .content .ct .progress.rc::after {
  width: 135px;
}

.main .info .card .content .ct .progress.nd::after {
  width: 145px;
}

.main .info .card .content .ct .progress.ht::after {
  width: 185px;
}

/* CARD EVENTS */
.main .info .card .content .card--event {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;
}

.main .info .card .content .card--event p {
  color: #67e6cf;
  text-align: center;
  font-size: 20px;
  margin-bottom: 4px;
}

.main .info .card .content .card--event img {
  width: 45px;
}

.main .info .card .content .card--event .mowah-logo {
  width: 60%;
}

/* ABOUT */
.main .about {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
}

.main .about .title {
  color: white;
  font-size: 22px;
  text-align: center;
  margin-bottom: 60px;
}

.main .about .title h1,
.main .about .title svg {
  filter: drop-shadow(0px 4px 4px #13172c);
}

.main .about .profile {
  width: 95%;
  height: 250px;
  background: #13172c;
  box-shadow: 4px 10px 30px #1f0307;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.main .about .profile img {
  margin-top: -42px;
}

.main .about .profile p {
  font-weight: 600;
  font-size: 22px;
  color: #ffffff;
  margin-left: -20px;
}

/* ACADEMIC PROGRESS */
.main .academic {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
}

.main .academic .title {
  color: white;
  font-size: 22px;
  text-align: center;
  margin-bottom: 40px;
}

.main .academic .title h1,
.main .academic .title svg {
  filter: drop-shadow(0px 4px 4px #13172c);
}

.main .academic .line-progress .line {
  width: 25px;
  height: 250px;
  background: white;
  position: relative;
  border-radius: 2px;
}

.main .academic .line-progress .card {
  position: absolute;
  width: 300px;
  height: 70px;
  background: #13172c;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.main .academic .line-progress .line .left {
  right: 10px;
  top: 40px;
  text-align: right;
}

.main .academic .line-progress .line p {
  font-weight: 600;
  font-size: 18px;
}

.main .academic .line-progress .line .left p {
  margin-right: 10px;
}

.main .academic .line-progress .line .year {
  color: #f8b295;
}

.main .academic .line-progress .line .right {
  left: 10px;
  top: 140px;
  text-align: left;
}

.main .academic .line-progress .line .right p {
  margin-left: 10px;
}

/* PROJECTS */
.main .projects {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
}

.main .projects .title {
  color: white;
  font-size: 22px;
  text-align: center;
  margin-bottom: 60px;
}

.main .projects .title h1,
.main .projects .title svg {
  filter: drop-shadow(0px 4px 4px #13172c);
}

.main .projects .card {
  width: 650px;
  height: 480px;
  background: #1b2035;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  display: flex;
}

.main .projects .card .card--image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: white;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.main .projects .card .card--image img {
  max-width: 90%;
  margin-bottom: 20px;
}

.main .projects .card .card--content {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.main .projects .card .card--content h1 {
  color: white;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.main .projects .card .card--content p {
  color: white;
  font-size: 18px;
}

.main .projects .card .card--content button {
  padding: 14px;
  margin-top: 80px;
  background: none;
  color: #67e6cf;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: 1px solid #67e6cf;
}

/* CONTACT */
.main .contact {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
}

.main .contact .title {
  color: white;
  font-size: 22px;
  text-align: center;
  margin-bottom: 40px;
}

.main .contact .title h1,
.main .contact .title svg {
  filter: drop-shadow(0px 4px 4px #13172c);
}

.main .contact .contact--form {
  width: 40%;
}

.main .contact .contact--form form {
  display: flex;
  position: relative;
  flex-direction: column;
}

.main .contact .contact--form form input {
  background: rgba(19, 23, 44, 0.49);
  border-radius: 7px;
  padding: 14px;
  border: none;
  margin-bottom: 20px;
  outline: none;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

.main .contact .contact--form form textarea {
  resize: none;
  padding: 14px;
  font-family: 'Titillium Web', sans-serif;
  outline: none;
  background: rgba(19, 23, 44, 0.56);
  border-radius: 7px;
  border: none;
  color: white;
}

.main .contact .contact--form form svg {
  position: absolute;
  bottom: 14px;
  width: 25px;
  cursor: pointer;
  right: 14px;
}

.footer {
  width: 100%;
  background: red;
  margin-bottom: 0;
  height: 100px;
  position: relative;
  display: flex;
  background: rgba(30, 35, 56, 0.64);
}

.footer .container-footer {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.footer .container-footer img {
  position: absolute;
  width: 370px;
  bottom: 0;
  left: 0;
}
